<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            
            <div class="col-md-12 wrap-about pr-md-4 ftco-animate">
      <h2 class="mb-4">Contact Us</h2>
      <form>
          <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter Your Email">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i></button>
          </div>
          </div>
        </form>
      
            </div>
        </div>
    </div>
</section>


