<!-- Start Slider Area -->
<div id="home" class="slider-area">
    <div class="bend niceties preview-2">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../assets/img/slider/slider1.jpg" style="width: 1349px; height: 553px;" alt="Random first slide">
          <div class="carousel-caption">
            <h3>Web Application Development</h3>
            <p></p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/img/slider/slider2.jpg" style="width: 1349px; height: 553px;" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Custom Application Development</h3>
            <p></p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/img/slider/slider3.jpg" style="width: 1349px; height: 553px;" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Application Migration</h3>
            <p></p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/img/slider/slider2.jpg" style="width: 1349px; height: 553px;" alt="Random second slide">
          <div class="carousel-caption">
            <h3>DevOps Services</h3>
            <p></p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <!-- End Slider Area -->
  
<!-- 
<div class="container">
  <div class="row">
    
    <div class="col-md-12">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../assets/img/slider/slider1.jpg" alt="Random first slide">
          <div class="carousel-caption">
            <h3>2 seconds between slides...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/img/slider/slider2.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Mouse events...</h3>
            <p>This carousel pause or resume on mouse events</p>
          </div>
        </ng-template>
      </ngb-carousel>
  </div>
</div> -->