<section class="hero-wrap hero-wrap-2" style="background-image: url('../assets/img/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">About Us</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home ><i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

  <div class="img" style="background-image: url('../assets/img/about/about.jpg');"></div>

      <section class="ftco-section">
          <div class="container">
              <div class="row d-flex">
                  <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                      <div class="wrap-about-border">
                          <div class="img" style="background-image: url('../assets/img/about/about.jpg');"></div>
                          <div class="text">
                              <h3>Read Our Success Story for Inspiration</h3>
                              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                              <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-7 wrap-about pr-md-4 ftco-animate">
            <h2 class="mb-4">Welcome to InnovatixTech</h2>
                      <p>In an increasingly digital world governed by Moore's law, where computing power doubles approximately every 18 months, innovation is the very essence of success, as well as of survival. </p>
                      <p>Innovation — the successful exploitation of new ideas — incorporates new technologies, design and best practices. It is the key process that enables companies to compete effectively in the global environment.
                          Innovation is a catalyst that can create and sustain wealth. But it is only a catalyst; without process and other ingredients, even revolutionary innovations cannot create or sustain anything.</p>
                      <p>Innovatix Tech strength lies in both innovation and process. We provide innovative and effective solutions that meet all our customers' needs. Our competitive edge comes from linking innovation with our technology competencies and our understanding of industry and service verticals. We have combined our domain knowledge and technology competencies to engineer innovative solutions, which exactly match the unique requirements of our customers. </p>
                  </div>
              </div>
          </div>
      </section>
