
<app-carousel></app-carousel>

<div class="img" style="background-image: url('../assets/img/about/about.jpg');"></div>

    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                    <div class="wrap-about-border">
                        <div class="img" style="background-image: url('../assets/img/about/about.jpg');"></div>
                        <div class="text">
                            <h3>Read Our Success Story for Inspiration</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 wrap-about pr-md-4 ftco-animate">
          <h2 class="mb-4">About Us</h2>
          <p>In an increasingly digital world governed by Moore's law, where computing power doubles approximately every 18 months, innovation is the very essence of success, as well as of survival. </p>
          <p>Innovation — the successful exploitation of new ideas — incorporates new technologies, design and best practices. It is the key process that enables companies to compete effectively in the global environment.
              Innovation is a catalyst that can create and sustain wealth. But it is only a catalyst; without process and other ingredients, even revolutionary innovations cannot create or sustain anything.</p>
          <p>Innovatix Tech strength lies in both innovation and process. We provide innovative and effective solutions that meet all our customers' needs. Our competitive edge comes from linking innovation with our technology competencies and our understanding of industry and service verticals. We have combined our domain knowledge and technology competencies to engineer innovative solutions, which exactly match the unique requirements of our customers. </p>
    </div>
            </div>
        </div>
    </section>
    <div class="img" style="background-image: url('../assets/img/about/about.jpg');"></div>

    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex">
                
                <div class="col-md-12 wrap-about pr-md-4 ftco-animate">
          <h2 class="mb-4">Our Services</h2>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their</p>
                </div>
            </div>
        </div>
    </section>

<section class="background-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="services-icon"><i class="fa fa-code"></i></div>
          <h3 class="h4">Web App Development</h3>
          <p><b>Web App Development</b> We deliver featured web applications. We have deep domain expertise in web application development. We have expertise in custom web application development</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="services-icon"><i class="fa fa-camera-retro"></i></div>
          <h3 class="h4">DevOps Services</h3>
            <p><b>Innovatix Tech DevOps</b> leverages collaboration, monitoring, tool-chain pipelines, automation and Cloud adoption. We ensure rapid on-boarding of applications by automating end-to-end delivery pipeline and facilitate continuous integration and development across leading cloud platforms.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="services-icon"><i class="fa fa-wordpress"></i></div>
          <h3 class="h4">Software Development</h3>
            <p><b>Innovatix Tech insures and assumes</b> responsibility of customer's IT Software Development thereby providing services, ensuring processes and people to fulfill the ever-growing complex development needs with technology skeptic approach.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="services-icon"><i class="fa fa-camera-retro"></i></div>
          <h3 class="h4">Application Maintainance</h3>
            <p><b>Innovatix Tech</b> has a history of managing and future-proofing mission-critical applications for our clients. Our application management and maintenance process ensures that your systems are flexible and evolve with your business.</p>        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="services-icon"><i class="fa fa-bar-chart"></i></div>
          <h3 class="h4">Application Re-engineering</h3>
            <p><b>In business</b>, it's a given fact that innovation drives value creation, which leads to profitable growth. Innovatix Tech re-engineering process is aimed to leverage newer technology platforms, frameworks, and software to transform IT systems and applications. We assist the customer with our innovative ideas to redesign the application to meet their business goals.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="services-icon"><i class="fa fa-ticket"></i></div>
          <h3 class="h4">Application Migration</h3>
            <p><b></b>Java Migration, Python,.Net Migration, Oracle Migration, Database Migration
              </p>
        </div>
      </div>
    </div>
  </div>
</section>