<!-- Start Slider Area -->
<div id="home" class="slider-area">
  <div class="bend niceties preview-2">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../assets/img/slider/p3.jpg" style="width: 1349px; height: 553px;" alt="Random first slide">
        <div class="carousel-caption">
          <h3>2 seconds between slides...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/img/slider/p2.jpg" style="width: 1349px; height: 553px;" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Mouse events...</h3>
          <p>This carousel pause or resume on mouse events</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/img/slider/p1.jpg" style="width: 1349px; height: 553px;" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Mouse events...</h3>
          <p>This carousel pause or resume on mouse events</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/img/slider/p4.jpg" style="width: 1349px; height: 553px;" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Mouse events...</h3>
          <p>This carousel pause or resume on mouse events</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<!-- End Slider Area -->